<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.DMapper">
    <select id="getdInfo"  resultType="com.example.test.bean.DDietBean">
        SELECT * FROM dinnerdata where UserID = #{userID} and time = #{time};
    </select>
    <select id="deldInfo"  resultType="com.example.test.bean.DDietBean">
        DELETE FROM dinnerdata WHERE UserID = #{userID} AND dinnerdataID = #{dinnerdataID};
    </select>
</mapper>


